* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 40px;
  background-color: #D5FFFF;
  font-family: 'inter', sans-serif;
}
h2{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 32px;
}
button {
  border: none;
  font-size: 16px;
  background-color: #00B2B2;
  width: fill-parent;
  padding: 10px;
  border-radius: 10px;
  text-align:center;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background-color: #164b4b;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}